DB_HOST=localhost
DB_PORT=3307
DB_NAME=app_universitaria
DB_USERNAME=root
DB_PASSWORD=root
SERVER_PORT=8081

# Optional log levels (INFO, DEBUG, TRACE)
LOG_LEVEL_HIBERNATE_SQL=INFO
LOG_LEVEL_HIBERNATE_BIND=INFO
LOG_LEVEL_APP=INFO
LOG_LEVEL_WEB=INFO
